{{#if scope}}<strong>{{scope}}:</strong>
{{~/if}} {{#if subject}}
    {{~subject}}
{{~else}}
    {{~header}}
{{~/if}}

{{~!-- commit link --}} {{#if @root.linkReferences~}}
    (<a href="{{~#if @root.repository}}
        {{~#if @root.host}}
            {{~@root.host}}/
        {{~/if}}
        {{~#if @root.owner}}
            {{~@root.owner}}/
        {{~/if}}
        {{~@root.repository}}
    {{~else}}
        {{~@root.repoUrl}}
    {{~/if}}/
    {{~@root.commit}}/{{hash}}" target="_blank">{{hash}}</a>)
{{~else}}
    ({{~hash}})
{{~/if}}
